@using DoctorAppointmentManagement.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link mx-2 active" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link mx-2 active">Logout</button>
        </form>
    </li>
}
else
{

    <li class="nav-item ms-auto">
        <a class="nav-link mx-2 active" asp-area="Identity" asp-page="/Account/Login" title="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mx-2 active" asp-area="Identity" asp-page="/Account/Register" title="Register">Register</a>
    </li>
   @*  <script>window.href.location</script> *@
}

