@{
    ViewData["Title"] = "Manage Doctors";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/doctor-removebg-preview.png" class="img-fluid" alt="Image">
        </div>
        <div class="col-md-6 d-flex justify-content-start">
            <p>
                <!-- Replace the following text with the actual values you want to display -->
                <img src="~/quote2-removebg-preview.png" style="margin-top:auto;" />
            </p>
        </div>

    </div>
</div>
