@{
    ViewData["Title"] = "Manage Doctors";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/indexpageimage.png" class="img-fluid" alt="Image">
        </div>
        <div class="col-md-6">
            <h2>Doctor Information</h2>
            <p>
                <!-- Replace the following text with the actual values you want to display -->
                Name: Dr. John Doe <br />
                Specialization: Cardiology <br />
                Contact: xxx-xxx-xxxx <br />
                Address: Your Clinic Address
            </p>
        </div>
    </div>
</div>
